<section class="container-background">
	<section class="background">
		<p class="links"><%= link_to "Batman",pages_batman_path%></p>	
	</section>
	<section class="background">
		<p class="links"><%= link_to "Superman",pages_superman_path%></p>	
	</section>
</section>
